.formContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 5rem 0;
}

.contactForm {
  background: #fff;
  text-align: center;
  width: 90vw;
  max-width: 35rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.contactForm h3 {
  font-size: 1.5rem;
}

.formGroup {
  padding: 1rem 1.5rem;
}

.formControl {
  display: block;
  width: 100%;
  padding: 0.75rem 1rem;
  border: none;
  margin-bottom: 1.25rem;
  background-color: #eeecec;
  border-radius: 0.25rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.submitBtn {
  display: block;
  width: 100%;
  padding: 1rem;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  border: 2px solid transparent;
  background: #030303;
  color: #fff;
  cursor: pointer;
}
