.mainNavigation {
  width: 100%;
  padding-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  color: #030303;
  letter-spacing: 0.1rem;
  font-weight: 500;
  border-bottom: 2px solid #030303;
}

.navList {
  display: flex;
  margin-top: 0;
  margin-bottom: 0.3rem;
  padding-left: 0;
}

.navList li {
  margin-right: 1rem;
  list-style: none;
  padding-right: 1rem;
  border-right: 2px solid #030303;
}

.navList li:last-child {
  border-right: 0;
}

.authorName {
  margin-top: 0;
  margin-bottom: 0.3rem;
  list-style: none;
}

@media screen and (max-width: 768px) {
  .mainNavigation {
    display: none;
  }
}
