.section {
  position: relative;
  overflow: hidden;
}

.sectionCenter {
  display: flex;
  margin-top: 2rem;
  text-align: center;
}

.sectionCenter h3,
.sectionCenter p {
  color: #030303;
}

.sectionCenter p:last-child {
  padding-bottom: 3rem;
}

.personImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: ease-in 0.3s;
  color: transparent;
  text-shadow: 0 0 0 #fff;
}

.personImg:focus {
  outline: none;
}

.personImg img {
  height: 80vh;
  object-fit: contain;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  border: none;
  font-family: 'Roboto', sans-serif;
  background-color: transparent;
  cursor: pointer;
}

.prev:focus,
.next:focus {
  outline: none;
}

.prev > svg:first-child,
.next > svg:first-child {
  font-size: 2.5rem;
}

.next > svg:first-child {
  transform: rotate(180deg);
}

.prev {
  left: 10%;
}

.next {
  right: 10%;
}

@media screen and (max-width: 768px) {
  .section {
    height: 100vh !important;
  }
  .personImg {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
  }
  .personImg img {
    object-fit: cover;
  }
  .personImg h3,
  .personImg p {
    margin: 0.2rem;
  }
  .prev,
  .next {
    top: auto;
    bottom: 5rem;
  }
  .prev {
    left: 30%;
  }
  .next {
    right: 30%;
  }
}
